<!DOCTYPE HTML>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
		<script type="text/javascript" src="../js/index.js"></script>
		<link type="text/css" rel="stylesheet" href="../css/index.css" /> 
		<title>Address Book</title>
	</head>
	<body>
		<table>
			<tr>
				<td><p>First Name:</p></td>
				<td><input type="text" id="name" /></td>
			</tr>
			<tr>
				<td><p>Last Name:</p></td>
				<td><input type="text" id="lname" /></td>
			</tr>
			<tr>
				<td><p>Zip Code:</p></td>
				<td><input type="text" id="zip" /></td>
			</tr>
		</table>
		<br>
		<table>
		<tr>
			<td><input type="submit" onclick="get_data('add')" id="add" value="Add" /></td>
			<td><input type="submit" onclick="get_data('edit')" id="edit" value="Edit" /></td>
			<td><input type="submit" onclick="get_data('delete')" id="delete" value="Delete" /></td>
		</tr>
		</table>

		<br><hr>
		<div>
			<table id="addressbook" border="1" bordercolor="FFCC00" width="100%" cellpadding="1" cellspacing="1">
				<tr style="background-color:#FFFFCC;">
					<td><p>First Name</p></td>
					<td><p>Last Name</p></td>
					<td><p>Zip Code</p></td>
					<td><p>City</p></td>
					<td><p>State</p></td>
				</tr>
				{% for contact in contacts %}
					<tr style="background-color:#FFFFCC;" onclick="select_row('contact{{ loop.index }}')" id="contact{{ loop.index }}">
						<td>{{contact.first_name}}</td>
						<td>{{contact.last_name}}</td>
						<td>{{contact.zipcode}}</td>
						<td>{{contact.city}}</td>
						<td>{{contact.state}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>